<article id="<%- key.title %>" class="article article-type-post" itemscope itemprop="blogPost">
    <div class="article-meta">
        <a href="/2016/09/08/6-基本排序算法/" class="article-date">
            <time datetime="2016-09-08T08:31:15.000Z" itemprop="datePublished"><%- key.date %></time>
        </a>
    </div>
    <div class="article-inner">
        <input type="hidden" class="isFancy" />
        <header class="article-header">
            <h1 itemprop="name"><a class="article-title" href="/2016/09/08/6-基本排序算法/"><%- key.title %></a></h1>
        </header>
        <div class="article-entry" itemprop="articleBody">
            <p><%- key.qy %></p>
        </div>
        <div class="article-info article-info-index">
            <% if(key.tags){ %>
            <div class="article-tag tagcloud">
                <ul class="article-tag-list">
                    <% for(i of key.tags){ %>
                    <li class="article-tag-list-item"><a class="article-tag-list-link" href="/tags/<%- i %>/"><%- i %></a></li>
                    <% } %>
                </ul>
            </div>
            <% } %>
            
            <p class="article-more-link">
                <a href="/2016/09/08/6-基本排序算法/#more">
                    <%= excerpt_link %>
                </a>
            </p>
            <div class="clearfix"></div>
        </div>
    </div>
</article>